body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header{
    background-color: #000;
    text-align: center;
    padding: 10px;
    height: 153px;
}

#nome{
    font-size: 16px;
    color: #fff;
}

#dadosadicionais{
    font-size: 16px;
    color: #fff;
}

#fotoperfil{
    width: 69px;
    height: 69px;
}

main{
    background-color: #D9D9D9;
    padding: 1px;
}

main section{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    vertical-align: top;
}

main section h1, p, ul{
    margin: 5px;
}

main section h1{
    font-size: 16px;
}

main section p, li{
    font-size: 13px;
}

footer{
    background-color: #000;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 10px;
}